*{
    box-sizing: border-box;
}

@font-face {
    font-family: Woodland;
    src: url('Woodland.ttf');
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif ;
    margin: 0;
}
h1{font-size: 3em;}
h2{ font-size: 1.7em;}
h3{font-size: 1.2em;}
p{font-size: 1em; font-family: Arial, Helvetica, sans-serif;}
li{ font-size: 1em; font-family: Arial, Helvetica, sans-serif; font-style: italic;}
hr{border-style: groove;}

.container{
    max-width: 1400px;
    margin: auto;
}
header{
    background-color: rgb(251, 251, 251);
}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: normal;
    color: rgb(18, 1, 1);
    font-size: 2em;
    font-family: 'Woodland';
    

}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom:25px ;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(121, 4, 4);
}
header a:hover{
    color: rgb(16, 0, 0);
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: rgb(254, 254, 254);
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("fotos/thewarning.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.column {
    float: left;
    width: 33.33%;
    padding: 30px 30px;
}
.column:hover {filter: grayscale(100%);}


.Integrantes {
content: "";
clear: both;
display: table;


}


@media screen and (max-width: 500px) {
    .column {
    width: 100%;
    padding: 10px 10px;
    }
}
@media screen and (max-width: 900px) {
    .column {
    padding: 15px 15px;
    }
}
#ellas{
    background-color: rgb(17, 5, 5);
    color: white;
    text-align: center;
}

#musica{
    background-color: rgb(17, 5, 5);
    color: white;
    text-align: center;
    padding: 100px 12px;
}
.album:hover {filter: saturate(180%);}
.album {
    float: left;
    width: 25%;
    padding: 10px;
}

.musica-container {
    content: "";
    display: table;
    clear: both;
    margin: auto;
}

@media screen and (max-width: 1400px) {
    .album  {
    width: 50%;
    }

}

@media screen and (max-width: 700px) {
    .album {
    width: 50%;
    
    }
    
}
@media screen and (max-width: 500px) {
    .album {
    width: 100%;
    }
}
footer .texto{
    content: "";
    display: flex;
    margin: auto;
}
footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);

}
.footer-social {
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    flex-direction: row;
    
    
}
.footer-social a{
    color: rgb(130, 2, 2);
}
footer .container{
    display: flex;

}
.formulario{
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.5);
    position: relative;

}
.formulario-titulo{
    text-align: center;
    margin-top: 0;
    color: rgba(0,0,0,0.9);
}
.formulario-input, .formulario-label, .formulario-submit{
    display: block;
    width: 100%;
    font-size: 1em;
}
.formulario-input{
    padding: 20px;
    background: rgba(37, 0, 0, 0.7);
    border: 1px solid rgba(0,0,0,0.5);
    margin-bottom: 40px;
}
.formulario-input:focus{
    outline: 1px solid rgba(0,0,0,0.5);
}
.formulario-input:focus + .formulario-label{
    margin-top: -125px;
}
.formulario-label{
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index:-20 ;
    color: rgba(0,0,0,0.8);
    transition: all 0.2s;
}
.formulario-submit{
    background:rgba(46, 2, 2, 0.964);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}
#formulario{
    padding: 50px 30px;
}
.fijar{
    margin-top: -125px;
}

@media(min-width: 720px){
    header{
        padding-bottom: 0 ;

    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-right: 20px;
    }
    header{
        padding-bottom: 0 ;
    }
    #hero h1{
        font-size: 4.5em;
    }
    #hero h3{
        font-size: 2em;
    }
}

